.mobile-main-menu {
	position: fixed;
	top: 0;
	right: 0;
	width: 350px;
	height: 100%;
	z-index: 4;
	background: var(--secondary-color);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transform: translateX(100%);
	transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}

.mobile-main-menu .logo {
	width: 15rem;
	margin: 4rem 0 0 3rem;

	align-self: center;
	justify-self: center;
}
.mobile-main-menu .logo img {
	object-fit: contain;
}
.mobile-main-menu ul {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
	padding: 50px;
	width: 100%;
}

.mobile-main-menu ul li {
	margin-bottom: 20px;
	font-size: 1.8rem;
	border-bottom: 0.1rem solid var(--dark-color);
	width: 100%;
	text-align: left;
	padding-bottom: 8px;
}

.mobile-main-menu ul li a {
	transition: color 0.6s;
	color: var(--light-color);
	font-size: 1.8rem;
	line-height: 28px;
	font-weight: 400;
}

.mobile-main-menu ul li a.current-link {
	color: var(--primary-color);
}

.mobile-main-menu ul li a:hover {
	color: var(--light-color);
}

.hamburger {
	position: fixed;
	top: 30px;
	right: 20px;
	z-index: 1000000;
	cursor: pointer;
	width: 20px;
	height: 20px;
	background: none;
	border: none;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
	position: absolute;
	width: 20px;
	height: 2px;
	top: 0;
	left: 0;
	background: var(--light-color);
	transition: all 0.5s;
}

.hamburger-middle {
	transform: translateY(5px);
}

.hamburger-bottom {
	transform: translateY(10px);
}
.open {
	transform: rotate(90deg);
}

.open .hamburger-top {
	transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
	display: none;
}

.open .hamburger-bottom {
	transform: rotate(-45deg) translateY(6px) translateX(-6px);
}
.stop-scrolling {
	overflow: hidden;
}

.overlay-show {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 3;
}

.show-menu {
	transform: translateX(0);
}
