* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-family: var(--primary-font);
	font-size: 1.6rem;
	line-height: 1.5;
	background-color: var(--light-color);
	color: var(--dark-color);
}

a {
	outline: none;
	text-decoration: none;
	text-transform: uppercase;
	color: var(--light-color);
	font-size: 1.8rem;
	font-weight: 500;
}

ul {
	list-style-type: none;
}

h1 {
	font-size: 9rem;
	line-height: 1em;
	font-weight: 600;
	letter-spacing: 0.05em;
	margin-bottom: 2rem;
	letter-spacing: 0.3rem;
	color: var(--light-color);
}

h1,
h2 {
	font-family: var(--secondary-font);
	text-transform: uppercase;
}

h3 {
	margin: 1rem 0;
	font-weight: 300;
}

p {
	font-family: var(--primary-font);
	font-weight: 400;
}

img {
	width: 100%;
}
