.section-cards {
	background: url('../images/backgrounds/white_bg.jpg');
	background-attachment: fixed;
}

#section-cards .grid-container {
	margin-bottom: 2rem;
	/* gap: 2rem; */
	padding: 2rem;
}

#section-cards ion-icon {
	padding: 1rem;
	min-width: 5rem;
	font-size: 4rem;
}

#section-cards .flex-card {
	display: flex;
	height: 100%;
	padding: 2rem;
	background-color: var(--secondary-color);
	text-align: center;
	border-radius: 0;
}

#section-cards .flex-card h3 {
	color: var(--secondary-color);
	color: var(--primary-color);
	font-weight: bold;
}
#section-cards .flex-card p {
	color: #cccccc96;
	font-weight: 300;
}

#section-cards .flex-container {
	flex-direction: column;
}
