.section-values {
	background: url('../images/backgrounds/white_bg.jpg');
	background-attachment: fixed;
}

#section-values .grid-container {
	margin-bottom: 2rem;
}

#section-values ion-icon {
	padding: 1rem;
	min-width: 5rem;
	font-size: 4rem;
}

#section-values .flex-card {
	display: flex;
	height: 100%;
	padding: 2rem;
	/* background-color: red; */
	background-color: var(--light-color);

	text-align: center;
	border-radius: 0;
}

.flex-card.column_card {
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}
.flex-card.column_card h3 {
	font-size: 2.2rem;
	opacity: 0.7;
}
.flex-card ion-icon {
	color: var(--primary-color);
}

#section-values .flex-card h3 {
	color: var(--secondary-color);
	font-weight: bold;
}
#section-values .flex-card p {
	font-weight: 300;
	color: var(--secondary-color);
}

#section-values .flex-container {
	flex-direction: column;
}
